
# audio apis

# ElevenLabs
ELEVENLABS_API_KEY=
# play.ht 
PLAY_HT_USER_ID=
PLAY_HT_API_KEY=


# text apis
ASSEMBLYAI_API_KEY=

# image apis

# Unsplash
UNSPLASH_APP_ID=
UNSPLASH_ACCESS_KEY=
UNSPLASH_SECRET_KEY=
# google search
SEARCH_ENGINE_API_KEY=
SEARCH_ENGINE_ID=
# Tenor GIF 
TENOR_API_KEY=
C_KEY="your_test_app"




# misc
OPENAI_API_KEY=sk-4d3b0c7f8e2a4b1f9c5d6e7f8a9b0c1d2e3f4g5h6i7j8k9l0m1n2o3p4q5r6s7